@model List<TodoList.Models.Task>
@{
    ViewData["Title"] = "Lista de tareas";
}

<div class="w-100 d-flex justify-content-end mb-5">
  @Html.ActionLink("Nueva Tarea", "Create", "Home", null, new { @class = "btn btn-success" })
</div>

<table class="table table-striped">
  <thead>
    <th>Nombre</th>
    <th>Categoría</th>
    <th>Fecha inicio</th>
    <th>Fecha limite</th>
    <th></th>
  </thead>
  <tbody>
    @foreach (var task in Model) {
      <tr>
        <td>@Html.DisplayFor(model => task.Title)</td>
        <td>@Html.DisplayFor(model => task.Category.Name)</td>
        <td>@Html.DisplayFor(model => task.StartDate)</td>
        <td>@Html.DisplayFor(model => task.EndDate)</td>
        <td>
          @Html.ActionLink("Editar", "Edit", new { id = task.Id })
          | 
          @Html.ActionLink("Eliminar", "Delete", new { Id = task.Id })
        </td>
      </tr>
    }
  </tbody>
</table>